# Ignore only the venv internals inside streaming-env
streaming-env/bin/
streaming-env/lib/
streaming-env/include/
streaming-env/pyvenv.cfg
streaming-env/__pycache__/
streaming-env/etc/
streaming-env/share/

# Ignore Python cache
__pycache__/
*.pyc

# Keep these because they contain your work:
!streaming-env/algorithms/
!streaming-env/notebooks/
!streaming-env/results/
!streaming-env/data/

# OS-specific junk
.DS_Store

# Jupyter
.ipynb_checkpoints/